body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main  {
  flex: 1 0 auto;
}
    
